:root {
  --color-spurb: #008375;
  --color-spurb-claro: #65b5ac;
  --color-spurb-escuro: #005249;
}

html {
  font-family: 'Roboto', 'Segoe UI', 'Helvetica', Arial, sans-serif;
}

body {
  background-color: var(--color-spurb);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#container {
  height: 170px;
  display: flex;
  flex-direction: column;
}

#icon {
  margin-top: auto;
  animation: pinga 3s cubic-bezier(0.73, 0.07, 0.33, 0.88) infinite alternate
}

.icon__head, .icon__body {
  animation: pinga-interno 3s cubic-bezier(0.73, 0.07, 0.33, 0.88) infinite alternate;
  animation-delay: 0.15s;
}

.message {
  margin-top: auto;
  color: white;
  width: 100%;
  height: 20px;
  text-align: center;
}

@keyframes pinga {
  0%, 100% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 20px;
  }
}

@keyframes pinga-interno {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 4px);
  }
}
